<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--keywords-->
    <meta name="keywords"  content="portfolio, proyectos, modelado 3d, animaciones, ilustraciones">
    <!--Metadescription-->
    <meta name="portfolio" content="Trabajos ralizados en contexto universitario y de forma personal">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="../assets/scss/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>ilustraciones_dibujos_remeras</title>

</head>
<body>
<div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Camila Filippini</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/acerca_de_mi.html">Acerca de mi</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="../views/proyectos.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Proyectos
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../views/proyectos.html">Alto Impacto</a>
                        <a class="dropdown-item" href="../views/proyectos.html">Wearable</a>
                        <a class="dropdown-item" href="../views/proyectos.html">Back to semantica</a>
                      </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/wallpapers.html">wallpapers</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/ilustraciones_dibujos_remeras.html">Ilustraciones & remeras</a>
                    </li>
                    
                  </ul>
                </div>
              </nav>
        </header>
        <!--remeras&ilus-->

    <h1 class="titulosPrincipales"> Remeras & ilustraciones</h1> 
    <ul class="flexRemeras">
         <img class="flexRemeras__img" src="../assets/img/pag04/remera01.jpeg" alt="remera01">
         <img class="flexRemeras__img" src="../assets/img/pag04/remera02.jpeg" alt="remera02">
         <img class="flexRemeras__img" src="../assets/img/pag04/remera01.jpeg" alt="remera03">
         <img class="flexRemeras__img" src="../assets/img/pag04/remera02.jpeg" alt="remera04">
      
     </ul> 
         <br/> </br> </br>
     <ul class="flexIlus">
         <img class="flexIlusImg-1" src="../assets/img/pag04/ilusmockup01.png" alt="ilustracion01">
         <img class="flexIlusImg-2" src="../assets/img/pag04/ilusmockup02.png" alt="ilustracion02">
         <img class="flexIlusImg-3" src="../assets/img/pag04/ilusmockup03.png" alt="ilustracion03">
         <img class="flexIlusImg-4" src="../assets/img/pag04/ilusmockup04.png" alt="ilustracion04">
     </ul> 
        <!--footer-->
        </br> </br> </br> </br> </br> </br> </br> 
        <footer > 
          <div class="footer__flex">
            <img  class="footer__flex--img" src="../assets/img/pag01/footer (1).png" >
            <img class="footer__flex--img" src="../assets/img/pag01/footer (2).png">
            <img class="footer__flex--img" src="../assets/img/pag01/footer (3).png">
          </div>
        </footer> 

    </div>

    <!--Script-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>  
</body>
</html>